Click==7.0
fastapi==0.48.0
gunicorn==20.0.4
h11==0.9.0
httptools==0.0.13
pydantic==1.4
starlette==0.12.9
uvicorn==0.11.2
uvloop==0.14.0
websockets==8.1
astroid==2.3.3
Click==7.0
colorama==0.4.3
isort==4.3.21
lazy-object-proxy==1.4.3
pylint==2.4.4
six==1.14.0
wrapt==1.11.2